<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Sign Up - CodeJava</title>
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/css/bootstrap.min.css" />
<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
<script type="text/javascript"
	src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<style>
div {
	background-color: #9fc5e8;
}

h5 {
	color: #008B8B;
}

label {
	color: #f44336;
}

body {
	background-color: lightblue;
}
p{
 color:#f44336;
  font-weight:bold;
}
</style>
<body>
	<div class="container text-center">
	<div>
	<span th:text="${msg}"></span>
	</div>
		<div>
			<h5>
				UserName : <span th:text="${session.firstName}"></span></br> 
				UserId : <span th:text="${session.id}"></span> </br> 
				EMIAmount : <span class="span" th:text="${session.emiAmount}"></span></br> 
				LoanPaymentType : <span class="span" th:text="${session.loanPaymentType}"></span></br>
				LoanDuration : <span class="span" th:text="${session.loanDuration}"></span>
			</h5>
		</div>
		<form th:action="@{/payEmiForUser}" th:object="${LoanEMIUser}"
			method="post" style="max-width: 600px; margin: 0 auto;">
			<div class="m-3">
				<div class="form-group row">
					<label class="col-4 col-form-label">User ID: </label>
					<div class="col-8">
						<input type="text" th:field="*{customerId}" class="form-control"
							required />
					</div>
				</div>
				<div class="form-group row">
					<label class="col-4 col-form-label">Select EMI Date: </label>
					<div class="col-8">
						<input type="date" th:field="*{emiPaymentDate}" class="form-control" required
							placeholder="dd/mm/yyyy" />
					</div>
				</div>
				<div class="form-group row">
					<label class="col-4 col-form-label">Select Next EMI Date: </label>
					<div class="col-8">
						<input type="date" th:field="*{nextEmiDate}" class="form-control" required
							placeholder="dd/mm/yyyy" />
					</div>
				</div>
				
				<div class="form-group row">
					<label class="col-4 col-form-label">EMI Amount: </label>
					<div class="col-8">
						<input type="number" th:field="*{emiAmount}" class="form-control"
							placeholder="Please enter EMI Amount" required />
					</div>
				</div>
				
				<!-- <div class="form-group row">
					<label class="col-4 col-form-label">Total Paid EMI: </label>
					<div class="col-8">
						<input type="number" th:field="*{totalPaidEmi}" class="form-control"
							placeholder="Please enter PAID Amount e.g 1/2/3" required />
					</div>
				</div> -->
				<!-- <div class="form-group row">
					<label class="col-4 col-form-label">Total Due Amount: </label>
					<div class="col-8">
						<input type="number" th:field="*{totalDueEmi}" class="form-control"
							placeholder="Please enter total due amount" required />
					</div>
				</div> -->
				<!-- <div class="form-group row">
					<label class="col-4 col-form-label">Total Left EMI: </label>
					<div class="col-8">
						<input type="number" th:field="*{leftEmiDuration}" class="form-control"
							placeholder="Please enter left emi e.g 1/2/3" required />
					</div>
				</div> -->
				<div>
					<button type="submit" class="btn btn-primary">PayEMINow</button>
				</div>
			</div>
			<div class="container">
			<a th:href="@{/register}">
				<button type="button" class="btn btn-primary">AddNewUser</button>
			</a> 
			<a th:href="@{/dashboard}">
				<button type="button" class="btn btn-primary">ShowDashboard</button>
			</a>
			<a th:href="@{/users}">
				<button type="button" class="btn btn-primary">ViewAllUsers</button>
			</a> 
			<a th:href="@{/logout}">
					<input type="button" class="btn btn-primary" value="Sign Out"/>
					</a>
		</div>
		</form>
	</div>
</body>
</html>