<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/css/bootstrap.min.css" />
<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
<script type="text/javascript"
	src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<style>
body {
	background-color: lightblue;
}

h1 {
	text-align: center;
	background-color: #0b5394
}

h1 {
	color: white
}

span {
	color: red
}

tbody {
	background-color: #FBFBF9
}
h2 {
	text-align: left;
	background-color: #8fce00;
	color: #744700
}
</style>
<body>
	<div>
		<h1>List of Saving Customers (TotalSavingCustomer : <span th:if="${savingCustomerCounts != null}" th:text="${savingCustomerCounts}"></span>)</h1>
	</div>


		<div style="overflow-x: auto; width: 100%;">
			<h5>
				<span th:if="${msg != null}" th:text="${msg}"></span>
			</h5>
			<table class="table table-striped table-bordered">
				<thead class="thead-dark">
					<tr>
						<th>User ID</th>
						<th>E-mail</th>
						<th>First Name</th>
						<th>Last Name</th>
						<th>Gender</th>
						
						<th>Saving Type</th>
						<th>Saving Duration</th>
						<th>Saving Amount</th>
						<th>Saving Pay Option</th>
						<th>Rate Of Interest</th>
						<th>Total Amount To Pay</th>
						<th>Last Transaction</th>
						<!-- <th>Mobile Number</th>
						<th>Aadhar Number</th>
						<th>Address</th> 
						<th>Date Of Birth</th>
						-->
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="user: ${savingCustomers}">
						<td th:text="${user.userId}">User ID</td>
						<td th:text="${user.email}">E-mail</td>
						<td th:text="${user.firstName}">First Name</td>
						<td th:text="${user.lastName}">Last Name</td>
						<td th:text="${user.gender}">Last Name</td>
						
						
						<td th:text="${user.savingType}">Saving Type</td>
						<td th:text="${user.savingDuration}">Saving Type</td>
						<td th:text="${user.savingAmount}">Saving Amount</td>
						<td th:text="${user.loanPaymentType}">Saving Duration</td>
						<td th:text="${user.interestRate}">Rate Of Interest</td>
						<td th:text="${user.totalAmountToPay}">Total Amount To Pay</td>
						<!-- <td th:text="${user.mobileNumber}">Mobile Number</td>
						<td th:text="${user.adharNumber}">Aadhar Number</td>
						<td th:text="${user.address}">Address</td>
						<td th:text="${user.dob}">Date Of Birth</td>
						 -->
						<td style="color:red" th:text="${user.lastTransaction}">Last Transaction</td>
						
						
						<td style="white-space: nowrap">
						<a th:href="@{/payEmi/(firstName=${user.firstName},id=${user.userId},loanAmount=${user.savingAmount},loanPaymentType=${user.loanPaymentType},loanDuration=${user.savingDuration},emiAmount=${user.savingEMIAmount})}">
								<button type="button" class="btn btn-primary">PAYEMI</button></a> 
								<a th:href="@{/editSavingCustomer/(id=${user.id})}">
								<button type="button" class="btn btn-primary">EDIT</button></a> 
								<a th:href="@{/deleteSavingCustomer/(id=${user.id})}" onclick="return confirm('Are you sure you want to delete this Customer?')">
								<button type="button" class="btn btn-primary">DELETE</button></a>
								
								<a th:href="@{/getEMIByUserId/(id=${user.userId})}">
								<button type="button" class="btn btn-primary">EMIHistory</button></a>
								
								<a th:href="@{/exportPdfForUser/(id=${user.userId})}">
								<button type="button" class="btn btn-primary">LoanReport</button></a>
								
								<a th:href="@{/generateEMIReport/(id=${user.userId})}">
								<button type="button" class="btn btn-primary">EMIReport</button></a>
						
						
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="container">
			<a th:href="@{/addSavingCustomer}">
				<button type="button" class="btn btn-primary">AddNewSavingCustomer</button>
			</a> <a th:href="@{/dashboard}">
				<button type="button" class="btn btn-primary">ShowDashboard</button>
			</a> <a th:href="@{/logout}"> <input type="submit"
				class="btn btn-primary" value="Sign Out" />
			</a> <a th:href="@{/savingCustomers}">
				<button type="button" class="btn btn-primary">ViewAllSavingCustomers</button>
			</a> <a th:href="@{/searchUser}">
				<button type="button" class="btn btn-primary">SearchUserById</button>
			</a>
		</div>
		<h2>
			TotalSavingAmount	: <span th:if="${totalSavingAmount != null}" th:text="${totalSavingAmount}"></span>
		</h2>
</body>
</html>