<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>List Users</title>
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/css/bootstrap.min.css" />
<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
<script type="text/javascript"
	src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<style>
body {
	background-color: lightblue;
}

h1 {
	text-align: center;
	background-color: #0b5394
}

h1 {
	color: white
}

span {
	color: red
}

tbody {
	background-color: #FBFBF9
}
</style>
<body>
	<div>
		<h1>EMI History of User :</h1>
	</div>
	<div class="container text-center">
		<!-- <div>
		<form th:action="@{/logout}" method="post">
			<p>
				Welcome <b>[[${#request.userPrincipal.principal.fullName}]]</b>
			</p>
			<input type="submit" class="btn btn-primary" value="Sign Out"/>
		</form>
	</div> -->


		<div style="overflow-x: auto;">
			<h5>
				<span th:if="${msg != null}" th:text="${msg}"></span>
			</h5>
			<table class="table table-striped table-bordered">
				<thead class="thead-dark">
					<tr>
						<th>User ID</th>
						<th>First Name</th>
						<th>Total Loan Amount</th>
						<th>Loan Duration</th>
						<th>EMI Amount</th>
						<th>First/Previous EMI Date</th>
						<th>Next EMI To Pay</th>
						<th>Total Paid EMI</th>
						<th>Total Due Amount</th>
						<th>Total EMI Left</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="user: ${listOfEmiUsers}">
						<td th:text="${user.customerId}">User ID</td>
						<td th:text="${user.firstName}">First Name</td>
						<td th:text="${user.loanAmount}">Total Loan Amount</td>
						<td th:text="${user.loanDuration}">Loan Duration</td>
						<td th:text="${user.emiAmount}">EMI Amount</td>
						<td th:text="${user.emiPaymentDate}">First/Previous EMI Date</td>
						<td th:text="${user.nextEmiDate}">Next EMI To Pay</td>
						<td th:text="${user.totalPaidEmi}">Total Paid EMI</td>
						<td th:text="${user.totalDueEmi}">Total Due Amount</td>
						<td th:text="${user.leftEmiDuration}">Total EMI Left</td>
						<td style="white-space: nowrap">
								 <a th:href="@{/updateUserEmi/(id=${user.id})}">
								<button type="button" class="btn btn-primary">EDIT</button></a> 
								<a th:href="@{/deleteEMIHistoryUser/(id=${user.id},userId=${user.customerId})}" onclick="return confirm('Are you sure you want to delete this Customer?')">
								<button type="button" class="btn btn-primary">DELETE</button></a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>